librosa==0.11.0
matplotlib==3.10.8
pyspark==4.1.1
seaborn==0.13.2
jupyter
ipykernel
tensorflow>=2.19.0
fastapi>=0.115.0
uvicorn>=0.34.0
python-multipart>=0.0.20
requests>=2.32.0
streamlit>=1.42.0
scikit-learn>=1.6.0
soundfile>=0.13.0
joblib>=1.4.0
pytest>=8.3.0
httpx>=0.28.0
numpy>=2.0.0
